@import 'tailwindcss';

html,
body {
    width: 100% !important;
    height: 100% !important;
    min-width: 100% !important;
    min-height: 100% !important;
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}